$color-brand: #f0dc05;
$color-light: #fffff7;
html,body{
  height: 100%;
}
body{
  padding: 0;
  margin: 0;
}
nav{
  position: absolute;
  height: 100px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: visible;
}
.logo{
  color: $color-brand;
}
.nav-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  li a{
    color: $color-light;
    text-decoration: none;
  }
}
.main-image{
  display: flex;
  height: 700px;
  img{
    object-fit: cover;
  }
}
